body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 70vh;
}

.btn {
    height: 75px;
    width: 75px;
    margin: 15px;
    font-size: 40px;
    color: white;
}

.number {
    border: 1px solid lightseagreen;
    border-radius: 10px;
}

.number:hover {
    background-color: lightseagreen;
}

.operator {
    border: 1px solid steelblue;
    border-radius: 10px;
}

.operator:hover {
    background-color: steelblue;
}

.decimal {
    border: 1px solid gold;
    border-radius: 10px;
}

.decimal:hover {
    background-color: gold;
}

.equal {
    border: 1px solid green;
    border-radius: 10px;
}

.equal:hover {
    background-color: green;
}

.clear {
    border: 1px solid palevioletred;
    border-radius: 10px;
}

.clear:hover {
    background-color: palevioletred;
}

.first-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#screen {
    width: 300px;
    border: 1px solid salmon;
    height: 75px;
    margin: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    font-size: 40px;
    color: white;
}

.calculator {
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}

h1 {
    margin: 50px auto;
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}